//imports
@import "./colors.scss";
@import "./classes.scss";
@import "./animations.scss";
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $dark-one;
}
.app {
  width: 320px;
  height: 100%;
  border: 2px solid $dark-one;
}
.content {
  width: 100%;
  padding: 10px 0 20px 0;
}
.header {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid $dark-one;
  padding: 0 10px;
  justify-content: space-between !important;
  &__logo {
    width: 30px;
  }
}
.footer {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border-top: 2px solid $gray-one;
  .author {
    font-size: 10px;
    color: $gray-one;
  }
}
.counter {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 30px 0;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &__ripple {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.5;
    animation: rippleEffect 1s ease-out infinite;
    &.green {
      background-color: $green-dark;
    }

    &.orange {
      background-color: $orange;
    }
    &.red {
      background-color: $red;
    }
  }
  &__svg {
    transform: scaleX(-1);
  }
  &__circle {
    fill: white;
    stroke: none;
  }
  &__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  &__path {
    &-elapsed {
      stroke-width: 2px;
      stroke: $dark-one;
    }
    &-remaining {
      stroke-width: 7px;
      stroke-linecap: round;
      transform: rotate(90deg);
      transform-origin: center;
      transition: 0.4s linear all;
      fill-rule: nonzero;
      stroke: $green-dark;
      fill: $white;
      &.green {
        stroke: $green-dark;
      }

      &.orange {
        stroke: $orange;
      }
      &.red {
        stroke: $red;
      }
    }
  }
  &__remaining-time-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "ZCOOL QingKe HuangYou", cursive;
    font-size: 27px;
    color: $dark-one;
  }
}

.control-area {
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  .btn {
    width: 48%;
    &.pause {
      background-color: $orange;
    }
    &.reset {
      background-color: $red;
    }
  }
}
