
//imports
@import "./_colors.scss";
@import "./_classes.scss";
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $dark-one;
}
.app {
  width: 400px;
  height: 100%;
  border: 2px solid $dark-one;
}
.content {
  width: 100%;
  padding: 10px 0 20px 0;
}
.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid;
  padding: 0 10px;
  justify-content: space-between !important;
  &__logo {
    width: 30px;
  }
}
.counter {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 30px 0;
  transition: .2s ease;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
  &__svg {
    transform: scaleX(-1);
  }
  &__circle {
    fill: white;
    stroke: none;
  }
  &__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  &__path {
    &-elapsed {
      stroke-width: 7px;
      stroke: grey;
    }
    &-remaining {
      stroke-width: 7px;
      stroke-linecap: round;
      transform: rotate(90deg);
      transform-origin: center;
      transition: 0.4s linear all;
      fill-rule: nonzero;
      stroke: $dark-one;
      &.green {
        color: $green;
      }
      &.red {
        color: $red;
      }
      &.orange {
        color: $orange;
      }
    }
  }
  &__remaining-time-text{ 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 24px;
    color: $dark-one;
  }
}
