@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes rippleEffect {
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2d354f;
}

.app {
  width: 400px;
  height: 100%;
  border: 2px solid #2d354f;
}

.content {
  width: 100%;
  padding: 10px 0 20px 0;
}

.header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid;
  padding: 0 10px;
  justify-content: space-between !important;
}

.header__logo {
  width: 30px;
}

.counter {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 30px 0;
  transition: .2s ease;
  cursor: pointer;
}

.counter:hover {
  transform: scale(1.1);
}

.counter__ripple {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #32d669;
  opacity: 0.5;
  animation: rippleEffect 1s ease-out infinite;
}

.counter__ripple.green {
  background-color: #32d669;
}

.counter__ripple.orange {
  background-color: orange;
}

.counter__ripple.red {
  background-color: red;
}

.counter__svg {
  transform: scaleX(-1);
}

.counter__circle {
  fill: white;
  stroke: none;
}

.counter__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.counter__path-elapsed {
  stroke-width: 2px;
  stroke: #2d354f;
}

.counter__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.4s linear all;
  fill-rule: nonzero;
  stroke: #32d669;
  fill: #2d354f;
}

.counter__path-remaining.green {
  stroke: #32d669;
}

.counter__path-remaining.orange {
  stroke: orange;
}

.counter__path-remaining.red {
  stroke: red;
}

.counter__remaining-time-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 27px;
  color: white;
}
